<header class="app-header navbar"><button class="navbar-toggler mobile-sidebar-toggler hidden-lg-up" type="button">☰</button>
  <a class="navbar-brand" href="#"></a>
  <ul class="nav navbar-nav hidden-md-down">
    <li class="nav-item"><a class="nav-link navbar-toggler sidebar-toggler" href="#">☰</a></li>
  </ul>
  <ul class="nav navbar-nav ml-auto">
    <li class="nav-item hidden-md-down"><a class="nav-link" href="#"><i class="icon-bell"></i><span class="badge badge-pill badge-danger">5</span></a></li>
    <li class="nav-item hidden-md-down"><a class="nav-link" href="#"><i class="icon-list"></i></a></li>
    <li class="nav-item hidden-md-down"><a class="nav-link" href="#"><i class="icon-location-pin"></i></a></li>
    <li class="nav-item">
      <div class="dropdown">
        <a class="nav-link dropdown-toggle nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><img src="../../assets/img/avatars/6.jpg" class="img-avatar" alt="admin@bootstrapmaster.com"><span class="hidden-md-down">admin</span></a>
        <div tabindex="-1" aria-hidden="true" role="menu" class="dropdown-menu-right dropdown-menu">
          <h6 tabindex="-1" class="text-center dropdown-header"><strong>Account</strong></h6><button tabindex="0" class="dropdown-item"><i class="fa fa-bell-o"></i><!-- react-text: 35 --> Updates<!-- /react-text --><span class="badge badge-info">42</span></button>
          <button tabindex="0" class="dropdown-item"><i class="fa fa-envelope-o"></i>
              <!-- react-text: 39 -->Messages
              <!-- /react-text --><span class="badge badge-success">42</span></button><button tabindex="0" class="dropdown-item"><i class="fa fa-tasks"></i><!-- react-text: 43 --> Tasks<!-- /react-text --><span class="badge badge-danger">42</span></button>
          <button tabindex="0" class="dropdown-item"><i class="fa fa-comments"></i>
                <!-- react-text: 47 -->Comments
                <!-- /react-text --><span class="badge badge-warning">42</span></button>
          <h6 tabindex="-1" class="text-center dropdown-header"><strong>Settings</strong></h6><button tabindex="0" class="dropdown-item"><i class="fa fa-user"></i><!-- react-text: 53 --> Profile<!-- /react-text --></button>
          <button tabindex="0" class="dropdown-item"><i class="fa fa-wrench"></i>
                  <!-- react-text: 56 -->Settings
                  <!-- /react-text -->
                  </button><button tabindex="0" class="dropdown-item"><i class="fa fa-usd"></i><!-- react-text: 59 --> Payments<!-- /react-text --><span class="badge badge-default">42</span></button>
          <button tabindex="0" class="dropdown-item"><i class="fa fa-file"></i>
                    <!-- react-text: 63 -->Projects
                    <!-- /react-text --><span class="badge badge-primary">42</span></button>
          <div tabindex="-1" class="dropdown-divider"></div><button tabindex="0" class="dropdown-item"><i class="fa fa-shield"></i><!-- react-text: 68 --> Lock Account<!-- /react-text --></button>
          <button tabindex="0" class="dropdown-item"><i class="fa fa-lock"></i>
                      <!-- react-text: 71 -->Logout
                      <!-- /react-text -->
                      </button>
        </div>
      </div>
    </li>
    <li class="nav-item hidden-md-down"><a class="nav-link navbar-toggler aside-menu-toggler" href="#">☰</a></li>
  </ul>
</header>


<div class="app-body">
  <div class="sidebar" r <nav class="sidebar-nav">
    <ul class="nav">
      <li class="nav-item"><a class="nav-link" ui-sref="app.home"><i class="icon-speedometer"></i><!-- react-text: 81 --> Dashboard <!-- /react-text --><span class="badge badge-info">NEW</span></a></li>
      <li class="nav-title">torrent</li>
      <li class="nav-item"><a class="nav-link" ui-sref="app.torrent"><i class="icon-pie-chart"></i> Torrent</a></li>
      <li class="nav-item nav-dropdown"><a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-puzzle"></i><!-- react-text: 87 --> Components<!-- /react-text --></a>
        <ul class="nav-dropdown-items">
          <li class="nav-item"><a class="nav-link" href="#/components/buttons"><i class="icon-puzzle"></i><!-- react-text: 92 --> Buttons<!-- /react-text --></a></li>
          <li class="nav-item"><a class="nav-link" href="#/components/social-buttons"><i class="icon-puzzle"></i><!-- react-text: 96 --> Social Buttons<!-- /react-text --></a></li>
          <li class="nav-item"><a class="nav-link" href="#/components/cards"><i class="icon-puzzle"></i><!-- react-text: 100 --> Cards<!-- /react-text --></a></li>
          <li class="nav-item"><a class="nav-link" href="#/components/forms"><i class="icon-puzzle"></i><!-- react-text: 104 --> Forms<!-- /react-text --></a></li>
          <li class="nav-item"><a class="nav-link" href="#/components/modals"><i class="icon-puzzle"></i><!-- react-text: 108 --> Modals<!-- /react-text --></a></li>
          <li class="nav-item"><a class="nav-link" href="#/components/switches"><i class="icon-puzzle"></i><!-- react-text: 112 --> Switches<!-- /react-text --></a></li>
          <li class="nav-item"><a class="nav-link" href="#/components/tables"><i class="icon-puzzle"></i><!-- react-text: 116 --> Tables<!-- /react-text --></a></li>
          <li class="nav-item"><a class="nav-link" href="#/components/tabs"><i class="icon-puzzle"></i><!-- react-text: 120 --> Tabs<!-- /react-text --></a></li>
        </ul>
      </li>
      <li class="nav-item nav-dropdown"><a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-star"></i><!-- react-text: 124 --> Icons<!-- /react-text --></a>
        <ul class="nav-dropdown-items">
          <li class="nav-item"><a class="nav-link" href="#/icons/font-awesome"><i class="icon-star"></i><!-- react-text: 129 --> Font Awesome<!-- /react-text --></a></li>
          <li class="nav-item"><a class="nav-link" href="#/icons/simple-line-icons"><i class="icon-star"></i><!-- react-text: 133 --> Simple Line Icons<!-- /react-text --></a></li>
        </ul>
      </li>
      <li class="nav-item"><a class="nav-link" href="#/widgets"><i class="icon-calculator"></i><!-- react-text: 137 --> Widgets <!-- /react-text --><span class="badge badge-info">NEW</span></a></li>
      <li class="nav-item"><a class="nav-link" href="#/charts"><i class="icon-pie-chart"></i><!-- react-text: 142 --> Charts<!-- /react-text --></a></li>
      <li class="divider"></li>
      <li class="nav-title">Extras</li>
      <li class="nav-item nav-dropdown"><a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-star"></i><!-- react-text: 148 --> Pages<!-- /react-text --></a>
        <ul class="nav-dropdown-items">
          <li class="nav-item"><a class="nav-link" href="#/pages/login"><i class="icon-star"></i><!-- react-text: 153 --> Login<!-- /react-text --></a></li>
          <li class="nav-item"><a class="nav-link" href="#/pages/register"><i class="icon-star"></i><!-- react-text: 157 --> Register<!-- /react-text --></a></li>
          <li class="nav-item"><a class="nav-link" href="#/pages/404"><i class="icon-star"></i><!-- react-text: 161 --> Error 404<!-- /react-text --></a></li>
          <li class="nav-item"><a class="nav-link" href="#/pages/500"><i class="icon-star"></i><!-- react-text: 165 --> Error 500<!-- /react-text --></a></li>
        </ul>
      </li>
    </ul>
    </nav>
  </div>


  <div ui-view="content" class="main">
  </div>

  <!-- right aside -->
  <aside class="aside-menu">
    <ul class="nav nav-tabs">
      <li class="nav-item"><a class="active nav-link"><i class="icon-list"></i></a></li>
      <li class="nav-item"><a class="nav-link"><i class="icon-speech"></i></a></li>
      <li class="nav-item"><a class="nav-link"><i class="icon-settings"></i></a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active">
        <div class="callout m-0 py-h text-muted text-center bg-faded text-uppercase"><small><b>Today</b></small></div>
        <hr class="transparent mx-1 my-0">
        <div class="callout callout-warning m-0 py-1">
          <div class="avatar float-right"><img src="../../assets/img/avatars/7.jpg" class="img-avatar" alt="admin@bootstrapmaster.com"></div>
          <div>
            <!-- react-text: 937 -->Meeting with
            <!-- /react-text --><strong>Lucas</strong></div><small class="text-muted mr-1"><i class="icon-calendar"></i><!-- react-text: 941 -->&nbsp; 1 - 3pm<!-- /react-text --></small>
          <small class="text-muted"><i class="icon-location-pin"></i>
            <!-- react-text: 944 -->&nbsp; Palo Alto, CA
            <!-- /react-text -->
            </small>
        </div>
        <hr class="mx-1 my-0">
        <div class="callout callout-info m-0 py-1">
          <div class="avatar float-right"><img src="../../assets/img/avatars/4.jpg" class="img-avatar" alt="admin@bootstrapmaster.com"></div>
          <div>
            <!-- react-text: 950 -->Skype with
            <!-- /react-text --><strong>Megan</strong></div><small class="text-muted mr-1"><i class="icon-calendar"></i><!-- react-text: 954 -->&nbsp; 4 - 5pm<!-- /react-text --></small>
          <small class="text-muted"><i class="icon-social-skype"></i>
            <!-- react-text: 957 -->&nbsp; On-line
            <!-- /react-text -->
            </small>
        </div>
        <hr class="transparent mx-1 my-0">
        <div class="callout m-0 py-h text-muted text-center bg-faded text-uppercase"><small><b>Tomorrow</b></small></div>
        <hr class="transparent mx-1 my-0">
        <div class="callout callout-danger m-0 py-1">
          <div>
            <!-- react-text: 965 -->New UI Project -
            <!-- /react-text --><strong>deadline</strong></div><small class="text-muted mr-1"><i class="icon-calendar"></i><!-- react-text: 969 -->&nbsp; 10 - 11pm<!-- /react-text --></small>
          <small class="text-muted"><i class="icon-home"></i>
            <!-- react-text: 972 -->&nbsp; creativeLabs HQ
            <!-- /react-text -->
            </small>
          <div class="avatars-stack mt-h">
            <div class="avatar avatar-xs"><img src="../../assets/img/avatars/2.jpg" class="img-avatar" alt="admin@bootstrapmaster.com"></div>
            <div class="avatar avatar-xs"><img src="../../assets/img/avatars/3.jpg" class="img-avatar" alt="admin@bootstrapmaster.com"></div>
            <div class="avatar avatar-xs"><img src="../../assets/img/avatars/4.jpg" class="img-avatar" alt="admin@bootstrapmaster.com"></div>
            <div class="avatar avatar-xs"><img src="../../assets/img/avatars/5.jpg" class="img-avatar" alt="admin@bootstrapmaster.com"></div>
            <div class="avatar avatar-xs"><img src="../../assets/img/avatars/6.jpg" class="img-avatar" alt="admin@bootstrapmaster.com"></div>
          </div>
        </div>
        <hr class="mx-1 my-0">
        <div class="callout callout-success m-0 py-1">
          <div><strong>#10 Startups.Garden</strong>
            <!-- react-text: 988 -->Meetup
            <!-- /react-text -->
          </div><small class="text-muted mr-1"><i class="icon-calendar"></i><!-- react-text: 991 -->&nbsp; 1 - 3pm<!-- /react-text --></small>
          <small class="text-muted"><i class="icon-location-pin"></i>
            <!-- react-text: 994 -->&nbsp; Palo Alto, CA
            <!-- /react-text -->
            </small>
        </div>
        <hr class="mx-1 my-0">
        <div class="callout callout-primary m-0 py-1">
          <div><strong>Team meeting</strong></div><small class="text-muted mr-1"><i class="icon-calendar"></i><!-- react-text: 1001 -->&nbsp; 4 - 6pm<!-- /react-text --></small>
          <small class="text-muted"><i class="icon-home"></i>
            <!-- react-text: 1004 -->&nbsp; creativeLabs HQ
            <!-- /react-text -->
            </small>
          <div class="avatars-stack mt-h">
            <div class="avatar avatar-xs"><img src="../../assets/img/avatars/2.jpg" class="img-avatar" alt="admin@bootstrapmaster.com"></div>
            <div class="avatar avatar-xs"><img src="../../assets/img/avatars/3.jpg" class="img-avatar" alt="admin@bootstrapmaster.com"></div>
            <div class="avatar avatar-xs"><img src="../../assets/img/avatars/4.jpg" class="img-avatar" alt="admin@bootstrapmaster.com"></div>
            <div class="avatar avatar-xs"><img src="../../assets/img/avatars/5.jpg" class="img-avatar" alt="admin@bootstrapmaster.com"></div>
            <div class="avatar avatar-xs"><img src="../../assets/img/avatars/6.jpg" class="img-avatar" alt="admin@bootstrapmaster.com"></div>
            <div class="avatar avatar-xs"><img src="../../assets/img/avatars/7.jpg" class="img-avatar" alt="admin@bootstrapmaster.com"></div>
            <div class="avatar avatar-xs"><img src="../../assets/img/avatars/8.jpg" class="img-avatar" alt="admin@bootstrapmaster.com"></div>
          </div>
        </div>
        <hr class="mx-1 my-0">
      </div>
      <div class="tab-pane p-1">
        <div class="message">
          <div class="py-1 pb-3 mr-1 float-left">
            <div class="avatar"><img src="../../assets/img/avatars/7.jpg" class="img-avatar" alt="admin@bootstrapmaster.com"><span class="avatar-status badge-success"></span></div>
          </div>
          <div><small class="text-muted">Lukasz Holeczek</small><small class="text-muted float-right mt-q">1:52 PM</small></div>
          <div class="text-truncate font-weight-bold">Lorem ipsum dolor sit amet</div><small class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt...</small></div>
        <hr>
        <div class="message">
          <div class="py-1 pb-3 mr-1 float-left">
            <div class="avatar"><img src="../../assets/img/avatars/7.jpg" class="img-avatar" alt="admin@bootstrapmaster.com"><span class="avatar-status badge-success"></span></div>
          </div>
          <div><small class="text-muted">Lukasz Holeczek</small><small class="text-muted float-right mt-q">1:52 PM</small></div>
          <div class="text-truncate font-weight-bold">Lorem ipsum dolor sit amet</div><small class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt...</small></div>
        <hr>
        <div class="message">
          <div class="py-1 pb-3 mr-1 float-left">
            <div class="avatar"><img src="../../assets/img/avatars/7.jpg" class="img-avatar" alt="admin@bootstrapmaster.com"><span class="avatar-status badge-success"></span></div>
          </div>
          <div><small class="text-muted">Lukasz Holeczek</small><small class="text-muted float-right mt-q">1:52 PM</small></div>
          <div class="text-truncate font-weight-bold">Lorem ipsum dolor sit amet</div><small class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt...</small></div>
        <hr>
        <div class="message">
          <div class="py-1 pb-3 mr-1 float-left">
            <div class="avatar"><img src="../../assets/img/avatars/7.jpg" class="img-avatar" alt="admin@bootstrapmaster.com"><span class="avatar-status badge-success"></span></div>
          </div>
          <div><small class="text-muted">Lukasz Holeczek</small><small class="text-muted float-right mt-q">1:52 PM</small></div>
          <div class="text-truncate font-weight-bold">Lorem ipsum dolor sit amet</div><small class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt...</small></div>
        <hr>
        <div class="message">
          <div class="py-1 pb-3 mr-1 float-left">
            <div class="avatar"><img src="../../assets/img/avatars/7.jpg" class="img-avatar" alt="admin@bootstrapmaster.com"><span class="avatar-status badge-success"></span></div>
          </div>
          <div><small class="text-muted">Lukasz Holeczek</small><small class="text-muted float-right mt-q">1:52 PM</small></div>
          <div class="text-truncate font-weight-bold">Lorem ipsum dolor sit amet</div><small class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt...</small></div>
      </div>
      <div class="tab-pane p-1">
        <h6>Settings</h6>
        <div class="aside-options">
          <div class="clearfix mt-2"><small><b>Option 1</b></small><label class="switch switch-text switch-pill switch-success switch-sm float-right"><input type="checkbox" class="switch-input" value="on" checked=""><span class="switch-label" data-on="On" data-off="Off"></span><span class="switch-handle"></span></label></div>
          <div><small class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</small></div>
        </div>
        <div class="aside-options">
          <div class="clearfix mt-1"><small><b>Option 2</b></small><label class="switch switch-text switch-pill switch-success switch-sm float-right"><input type="checkbox" class="switch-input" value="on"><span class="switch-label" data-on="On" data-off="Off"></span><span class="switch-handle"></span></label></div>
          <div><small class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</small></div>
        </div>
        <div class="aside-options">
          <div class="clearfix mt-1"><small><b>Option 3</b></small><label class="switch switch-text switch-pill switch-success switch-sm float-right"><input type="checkbox" class="switch-input" value="on"><span class="switch-label" data-on="On" data-off="Off"></span><span class="switch-handle"></span></label></div>
        </div>
        <div class="aside-options">
          <div class="clearfix mt-1"><small><b>Option 4</b></small><label class="switch switch-text switch-pill switch-success switch-sm float-right"><input type="checkbox" class="switch-input" value="on" checked=""><span class="switch-label" data-on="On" data-off="Off"></span><span class="switch-handle"></span></label></div>
        </div>
        <hr>
        <h6>System Utilization</h6>
        <div class="text-uppercase mb-q mt-2"><small><b>CPU Usage</b></small></div>
        <div class="progress-xs progress">
          <div class="progress-bar bg-info" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 25%;"></div>
        </div><small class="text-muted">348 Processes. 1/4 Cores.</small>
        <div class="text-uppercase mb-q mt-h"><small><b>Memory Usage</b></small></div>
        <div class="progress-xs progress">
          <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;"></div>
        </div><small class="text-muted">11444GB/16384MB</small>
        <div class="text-uppercase mb-q mt-h"><small><b>SSD 1 Usage</b></small></div>
        <div class="progress-xs progress">
          <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 95%;"></div>
        </div><small class="text-muted">243GB/256GB</small>
        <div class="text-uppercase mb-q mt-h"><small><b>SSD 2 Usage</b></small></div>
        <div class="progress-xs progress">
          <div class="progress-bar bg-success" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: 10%;"></div>
        </div><small class="text-muted">25GB/256GB</small></div>
    </div>
  </aside>
</div>